<h1 mat-dialog-title>Synonims for {{data.word}}</h1>
<div mat-dialog-content>
  <p>You can change this word for one synonim:</p>
  <ul>
    <li *ngFor="let synonim of synonims; let i of index" (click)="synonimSelected(synonim.word, i)" [ngClass]="{'list-focus': i === indexWord}">{{synonim.word}}</li>
  </ul>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">No Change</button>
  <button mat-button [mat-dialog-close]="results" cdkFocusInitial>Change Word</button>
</div>