<div class="format-actions">
  <button class="format-action" type="button" (click)="boldAction()" [disabled]="!textSelected"><b>B</b></button>
  <button class="format-action" type="button" (click)="italicAction()" [disabled]="!textSelected"><i>I</i></button>
  <button class="format-action" type="button" (click)="underlineAction()" [disabled]="!textSelected"><u>U</u></button>
</div>
